.sectionContainer {
  width: 100%;
  padding: 6rem 1rem;
  background-color: var(--background);
  position: relative;
}

@media (min-width: 48rem) {
  .sectionContainer {
    padding-inline: 2rem;
  }
}

.maxContainer {
  max-width: 80rem;
  margin-inline: auto;
}

.testimonialsGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 48rem) {
  .testimonialsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .testimonialsGrid > article:nth-child(3) {
    grid-column: span 2;
  }
}
