.sectionContainer {
    width: 100%;
    padding: 6rem 1rem;
    background-color: var(--background);
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.maxContainer {
    max-width: 80rem;
    margin-inline: auto;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
}

@media (min-width: 48rem) {
    .projectsGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 64rem) {
    .projectsGrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}