.container {
    position: relative;
    cursor: pointer;
    perspective: 1000px;
    width: 18rem;
    height: 18rem;
    margin-inline: auto;
}

@media (min-width: 48rem) {
    .container {
        width: 24rem;
        height: 24rem;
    }
}

.bgPulse {
    position: absolute;
    inset: 1rem;
    background-color: rgba(0, 255, 157, 0.1);
    border-radius: 9999px;
    filter: blur(2.5rem);
}

.characterContainer {
    position: relative;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0.9375rem 2.1875rem rgba(0, 0, 0, 0.8));
}

.pulseAnimation {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}