.pageMain {
    display: flex;
    min-height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}