.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  padding-bottom: 6rem;
}

@media (min-width: 48rem) {
  .heroSection {
    padding-bottom: 0;
  }
}

.contentContainer {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.avatarWrapper {
  margin-block: 1rem;
}

.heroDescription {
  color: var(--white);
  max-width: 28rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.625;
  padding-inline: 1rem;
  will-change: opacity, transform;
  animation: fadeInUp 0.4s cubic-bezier(0.2, 0.8, 0.2, 1) backwards;
}

.scrollButton {
  position: absolute;
  bottom: 9rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  cursor: pointer;
  transition: color 150ms ease;
  animation: bounce 0.8s infinite;
  will-change: transform;
  background: none;
  border: none;
  padding: 0;
}

@media (min-width: 48rem) {
  .scrollButton {
    bottom: 3rem;
  }
}

.scrollButton:hover,
.scrollButton:focus {
  color: var(--primary);
  outline: none;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateX(-50%) translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0.01;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

.eyePulse {
  animation: pulse 4s infinite;
}
